<div class="registering-account">
    <div *ngIf="!hasError" class="registering-account__waiting">
        <p>loading...</p>
    </div>
    <div *ngIf="hasError" class="registering-account__error">
        <h3>Oooops!</h3>
        <p>
            {{ errorMessage }}
        </p> 

        <a class="btn btn-info btn-sm" href title="close" [routerLink]="['/home']" role="button" style="float: right;">Quit</a>
    </div>
</div>


<!-- 
<div class="col-xs-12 col-sm-6">
    <br />
    <h3>Adding new account...</h3>
    <h4>please wait</h4>



    <a class="btn btn-info btn-sm" href title="close" [routerLink]="['/home']" role="button" style="float: right;">close</a>

    <br />
   

    {{ result }}


</div> -->