@import "variables";
@import "commons";

$header-height: 160px;

.profile {
    // overflow: auto;
    height: calc(100% - 30px);

    &-header {
        background-size: cover;
        position: relative; // height: 140px;
        overflow: hidden; // background-color: black;
        border-bottom: 1px solid black;
        & h2 {
            font-size: $default-font-size;
        }
        &__inner {
            overflow: auto;
            height: $header-height;
            background-color: rgba(0, 0, 0, .45);
        }
        &__avatar {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 80px;
            border-radius: 50%;
        }
        &__display-name {
            position: absolute;
            top: 105px;
            left: 15px;
            color: white;
        }
        &__fullhandle a {
            position: absolute;
            top: 130px;
            left: 15px;
            color: white;
        }
    }

    &-sub-header {
        overflow: auto;
        height: calc(100% - #{$header-height});
        // height: calc(20% - 190px);
        // height: 150px;
        // border: 1px solid greenyellow;
    }

    &-description {
        padding: 10px 10px 15px 10px;
        font-size: 13px;
        border-bottom: 1px solid black;
    }

    &-no-toots {
        text-align: center;
        margin: 15px;
        border: 2px solid whitesmoke;
    }
}