@import "variables";
@import "mixins";
@import "commons";
$validated-font-color: #4fde23;
$validated-background: #164109;
$header-height: 160px;

.outer-profile {
    height: calc(100%);
    overflow: hidden;
    position: relative;
}

.profile {
    // overflow: auto;
    height: calc(100%);
    overflow: auto;

    &__floating-header {
        transition: all .2s;
        transition-timing-function: ease-in;

        height: 60px;
        width: calc(100% - 7px);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: -60px;
        z-index: 100;

        border-bottom: 1px solid #222736;

        // opacity: 0;

        &__inner {
            overflow: auto;
            height: 60px;
            background-color: rgba(0, 0, 0, .45);
        }

        &__activated {
            // opacity: 1;
            transition: all .25s;
            transition-timing-function: ease-out;
            top: 0px;
        }
    }

    &__moved {
        padding: 5px;
        text-align: center;

        &--link {
            transition: .2s;
            color: white;
            display: inline-block;
            max-width: calc(100%);
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                color: rgb(255, 190, 71);
            }
        }
    }

    &__disabled {
        filter: gray;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }

    &-header {
        background-position: center center;
        background-repeat: no-repeat;

        background-size: cover;
        position: relative; 
        overflow: hidden; // background-color: black;
        border-bottom: 1px solid black;

        & h2 {
            font-size: $default-font-size;
        }

        &__inner {
            overflow: auto;
            height: $header-height;
            background-color: rgba(0, 0, 0, .45);
        }

        &__avatar {
            position: absolute;
            top: 12px;
            left: 12px;
            width: 80px;
            border-radius: 3px;
        }

        &__display-name {
            position: absolute;
            top: 105px;
            left: 15px;
            width: calc(100% - 20px);
            text-overflow: ellipsis;
            overflow: hidden;
            color: white;
        }

        &__fullhandle a {
            position: absolute;
            top: 130px;
            left: 15px;
            width: calc(100% - 20px);
            text-overflow: ellipsis;
            overflow: hidden;
            color: white;
        }

        &__follow {
            // transition: all .4s;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 28px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;

            &--button {
                @include clearButton;
            }

            &--unfollowed {}

            &--followed {
                color: #38abff;
                color: #5fbcff;
                color: #85ccff;
            }

            &--waiting {
                position: relative;
                top: -5px;
                left: 6px;
            }
        }

        &__state {
            position: absolute;
            top: 50px;
            right: 15px;
            font-size: 12px;

            &--data {
                text-align: right;
            }
        }
    }

    &-sub-header {
        // overflow: auto;
        // height: calc(100% - #{$header-height});
        // height: calc(100%);
        // height: calc(20% - 190px);
        // height: 150px;
        // border: 1px solid greenyellow;
    }

    &-description {
        padding: 10px 10px 15px 10px;
        font-size: 13px;
        border-bottom: 1px solid black;

        &__content {
            width: calc(100%);
            word-break: break-word;
        }
    }

    &-fields {
        font-size: 13px;
        border-bottom: 1px solid black;

        &__field {
            &:not(:last-child) {
                border-bottom: 1px solid black;
            }

            &--name {
                padding: 10px;
                border-right: 1px solid black;
                text-align: center;
                width: calc(33%);
                background-color: #0b0d13;
                white-space: nowrap;
                overflow: hidden;
            }

            &--value {
                padding: 10px;
                width: calc(66%);
                float: right;
                white-space: nowrap;
            }

            &--validated {
                background-color: $validated-background;
                // border: 1px solid $validated-font-color;
            }
        }

        @include clearfix;
    }

    &-no-toots {
        text-align: center;
        margin: 15px;
        border: 2px solid whitesmoke;
    }
}

//Mastodon styling
:host ::ng-deep .profile-fields__field--value {
    // font-size: 14px;
    color: $status-primary-color;

    & a,
    .mention,
    .ellipsis {
        color: $status-links-color;
    }

    & .invisible {
        display: none;
    }

    & p {
        margin: 0px; //font-size: .9em;
        // font-size: 14px;
    }
}

:host ::ng-deep .profile-fields__field--validated {
    // font-size: 14px;
    color: $validated-font-color;

    & a,
    .mention,
    .ellipsis {
        color: $validated-font-color;
    }

    & .invisible {
        display: none;
    }

    & p {
        margin: 0px; //font-size: .9em;
        // font-size: 14px;
    }
}