<div class="panel">
    <h3 class="panel__title">Manage Account</h3>

    <div class="account__header">
        <!-- <div class="account__display-avatar"> -->
        <img class="account__avatar" src="{{account.avatar}}" title="{{ account.info.id }} " />
        <!-- </div> -->
        <a href class="account__header--button"><fa-icon [icon]="faEnvelope"></fa-icon></a>
        <a href class="account__header--button"><fa-icon [icon]="faAt"></fa-icon></a>
        <a href class="account__header--button"><fa-icon [icon]="faBell"></fa-icon></a>
        <a href class="account__header--button"><fa-icon [icon]="faUser"></fa-icon></a>
    </div>

    <div class="account__body flexcroll">

        <h4 class="account__label">add column:</h4>

        <a class="account__link account__blue" href *ngFor="let stream of availableStreams" (click)="addStream(stream)">
            {{ stream.name }}
        </a>
        <!-- <a class="add-column__link" href>
    Global Timeline
  </a>
  <a class="add-column__link" href>
    Personnal Timeline
  </a>
  <a class="add-column__link" href>
    Lists, Favs, Activitires, etc
  </a> -->


        <h4 class="account__label account__margin-top">remove account from sengi:</h4>
        <a class="account__link account__red" href (click)="removeAccount()">
            Delete
        </a>
    </div>
</div>