<div class="reblog" *ngIf="reblog">
    <a class="reblog__profile-link" href (click)="openAccount(status.account)">{{ status.account.display_name }} <img *ngIf="reblog" class="reblog__avatar"
            src="{{ status.account.avatar }}" /></a> boosted
</div>
<div class="status">

    <a href class="status__profile-link" title="{{displayedStatus.account.acct}}" (click)="openAccount(displayedStatus.account)">
        <img [class.status__avatar--boosted]="reblog" class="status__avatar" src="{{ displayedStatus.account.avatar }}" />
        <!-- <img *ngIf="reblog" class="status__avatar--reblog" src="{{ status.account.avatar }}" /> -->
        <span class="status__name">
            <span class="status__name--displayname" innerHTML="{{displayedStatus.account.display_name}}"></span><span
                class="status__name--username">{{displayedStatus.account.acct}}</span>
        </span>
    </a>
    <div class="status__created-at" title="{{ displayedStatus.created_at | date: 'full' }}">{{
        status.created_at | mastodontime }}</div>
    <!-- <div #content class="status__content" innerHTML="{{displayedStatus.content}}"></div> -->

    <app-databinded-text class="status__content" [text]="displayedStatus.content" (accountSelected)="accountSelected($event)" (hashtagSelected)="hashtagSelected($event)" (textSelected)="textSelected()"></app-databinded-text>


    <app-attachements *ngIf="hasAttachments" class="attachments" [attachments]="displayedStatus.media_attachments"></app-attachements>

    <app-action-bar [statusWrapper]="statusWrapper" (replyEvent)="openReply()"></app-action-bar>

    <app-reply-to-status *ngIf="replyingToStatus" [statusReplyingToWrapper]="statusWrapper" (onClose)="closeReply()"></app-reply-to-status>
</div>