@import "variables";
@import "commons";
.reblog {
    position: relative;
    margin: 5px 0 0 10px;
    font-size: 12px;
    color: $status-secondary-color;
    &__profile-link {
        color: $status-secondary-color; // margin: 7px 0 0 70px;
        // display: block;
        text-decoration: none; // overflow: hidden;
        &:hover {
            color: lighten($status-secondary-color, 20);
        }
    }
    &__avatar {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        z-index: 10;
    }
}

.status {
    margin: 0;
    padding: 0;
    width: calc(100%);
    min-height: 70px;
    overflow: hidden;
    position: relative;
    &__avatar {
        position: absolute;
        top: 10px;
        left: 10px; // margin: 10px 0 0 10px;
        /* margin: 0; */
        width: 50px;
        height: 50px; // float: left;
        border-radius: 2px;
        &--boosted {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
        }
    }
    &__labels {
        position: absolute;
        top: 65px;
        left: 10px;
        width: 50px;
        cursor: default;
        &--label {
            text-transform: uppercase;
            text-align: center;
            font-size: 7px;
            margin-bottom: 3px; // color: #000;
            border-radius: 2px; //border: 1px solid greenyellow;
            padding-top: 1px;
        }
        &--bot {
            background-color: rgb(0, 225, 255);
            background-color: rgb(0, 159, 180);
            background-color: rgb(0, 114, 129);
        }
        &--xpost {
            background-color: rgb(255, 153, 0);
            background-color: rgb(189, 113, 0);
            background-color: rgb(156, 94, 0);
        }
        &--thread {
            background-color: rgb(0, 187, 84);
            background-color: rgb(0, 136, 61);
            background-color: rgb(0, 114, 51);
        }
        &--discuss {
            background-color: rgb(90, 0, 143);
        }
        &--old {
            background-color: rgb(150, 0, 0);
        }
    }
    &__name {
        display: inline-block;
        width: calc(100% - 40px);
        white-space: nowrap;
        overflow: hidden; // border: 1px dotted greenyellow;
        &--displayname {
            display: inline-block;
            color: $status-primary-color;
        }
        &--username {
            display: inline-block;
            margin-left: 5px; // position: relative;
            // top: 1px;
        }
    }
    &__profile-link {
        color: $status-secondary-color;
        margin: 7px 0 0 $avatar-column-space;
        display: block;
        text-decoration: none;
        overflow: hidden;
        &:hover {
            color: lighten($status-secondary-color, 20);
        }
    }
    &__content {
        word-wrap: break-word;
        margin: 0 10px 0 $avatar-column-space;
        display: block;
    }
    &__card {
        word-wrap: break-word;
        margin: 10px 10px 0 $avatar-column-space;
        display: block;
    }
    &__poll {
        word-wrap: break-word;
        margin: 10px 10px 0 $avatar-column-space;
        display: block;
    }
    &__content-warning {
        min-height: 80px;
        display: block;
        margin: 0 10px 0 $avatar-column-space;
        padding: 3px 5px 12px 5px;
        
        text-decoration: none;
        text-align: center;
        text-align: left;
        position: relative;
        
        border: 3px solid  $status-secondary-color;
        color: whitesmoke;

        &--title {
            color:  $content-warning-font-color;
            font-size: 11px;
            display: block;
            width: calc(100%);
            text-align: center;
            text-align: right;
            position: absolute;
            bottom: 0px;
            right: 4px;
        }
    }
    &__created-at {
        position: absolute;
        top: 7px;
        right: 5px;
        &--link {
            color: $status-secondary-color;
            text-decoration: none;
            &:hover {
                color: lighten($status-secondary-color, 20);
            }
        }
    }
}

.attachments {
    display: block; // width: calc(100% - 80px);
    margin: 10px 10px 0 $avatar-column-space;
}

.notification {
     position: relative;

    &--icon {
        position: absolute;
        top: 5px;
        left: 43px;
        text-align: center;
        width: 20px;
        // outline: 1px dotted greenyellow;
    }

    &--label {
        margin: 0 10px 0 $avatar-column-space;
        padding-top: 5px;
    }

    &--link {
        color: $status-links-color;
    }

    &--status:not(.reply-section) {
        opacity: 0.65;
    }

    &--avatar {
        position: absolute;
        top: 35px;
        left: 30px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        z-index: 10;
    }

    // &:not(:last-child) {
    //     border: solid #06070b;
    //     border-width: 0 0 1px 0;
    // }
}

.boost {
    color: $boost-color;
}

.favorite {
    color: $favorite-color;
}
