<div class="status">
    <a href class="status__profile-link" title="{{status.account.acct}}">
        <img class="status__avatar" src="{{ status.account.avatar }}" />
        <span class="status__name">
            <span class="status__name--displayname" innerHTML="{{status.account.display_name}}"></span><span class="status__name--username">{{status.account.acct}}</span>
        </span>
    </a>
    <div class="status__created-at" title="{{ status.created_at | date: 'full' }}">{{
        getCompactRelativeTime(status.created_at) }}</div>
    <div class="status__content" innerHTML="{{status.content}}"></div>
</div>