@import "variables";

.reblog {
    position: relative;
    margin: 5px 0 0 10px;
    font-size: 12px;
    color: $status-secondary-color;
    &__profile-link {
        color: $status-secondary-color; // margin: 7px 0 0 70px;
        // display: block;
        text-decoration: none; // overflow: hidden;
        &:hover {
            color: lighten($status-secondary-color, 20);
        }
    }
    &__avatar {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        z-index: 10;
    }
}

.status {
    margin: 0;
    padding: 0;
    width: calc(100%);
    min-height: 70px;
    overflow: hidden;
    position: relative;
    &__avatar {
        position: absolute;
        top: 10px;
        left: 10px; // margin: 10px 0 0 10px;
        /* margin: 0; */
        width: 50px;
        height: 50px; // float: left;
        border-radius: 2px;
        &--boosted {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
        }
    }
    &__name {
        display: inline-block;
        width: calc(100% - 40px);
        white-space: nowrap;
        overflow: hidden; // border: 1px dotted greenyellow;
        &--displayname {
            display: inline-block;
            color: $status-primary-color;
        }
        &--username {
            display: inline-block;
            margin-left: 5px; // position: relative;
            // top: 1px;
        }
    }
    &__profile-link {
        color: $status-secondary-color;
        margin: 7px 0 0 $avatar-column-space;
        display: block;
        text-decoration: none;
        overflow: hidden;
        &:hover {
            color: lighten($status-secondary-color, 20);
        }
    }
    &__content {
        /*width: calc(100% - 50px);*/
        word-wrap: break-word;
        margin: 0 10px 0 $avatar-column-space;
        display: block;        
    }
    // &__content p {
    //     margin: 0 !important;
    //     font-size: 0.85em;
    // }
    &__created-at {
        color: $status-secondary-color;
        position: absolute;
        top: 7px;
        right: 5px;
    }
}

.attachments {
    display: block;
    // width: calc(100% - 80px);
    margin: 10px 10px 0 $avatar-column-space;
}
