@import "variables";

.btn-custom-primary {
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;
    color: $btn-primary-font-color;
    font-size: 14px;
    &:hover,
    &:focus,
    &:active,
    &:active {
        background-color: $btn-primary-color-hover;
        border-color: $btn-primary-color-hover;
        box-shadow: none;
    } // &:focus {
    //     background-color: $btn-primary-color-hover;
    //     border-color: $btn-primary-color-hover;
    //     outline: none;
    // }
    // &:active {
    //     background-color: $btn-primary-color-hover;
    //     border-color: $btn-primary-color-hover;
    //     outline: none;
    // }
    // &:active:focus {
    //     background-color: $btn-primary-color-hover;
    //     border-color: $btn-primary-color-hover;
    //     outline: none;
    // }
    // &:visited {
    //     outline: none;
    // }
}

.btn-custom-secondary {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $button-background-color;
    color: $button-color;
    transition: all .2s;
    &:hover {
        background-color: $button-background-color-hover;
        color: $button-color-hover;
    }
}