@import "variables";

.themed-form{
    background-color: $column-color;
    border: 1px $button-border-color solid;
    padding: 2px 0 2px 5px;
    // border-width: 1px;
    color: #fff;    
    &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0px;
    }
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.waiting-icon {
    width: 40px;
    display: block;
    margin: 5px auto;
}

$scrollbar-color: #08090d;
$scrollbar-color-thumb: lighten($color-primary, 5);
.flexcroll {
    scrollbar-color:  $scrollbar-color-thumb #0f111a;

    scrollbar-face-color: $scrollbar-color;
    scrollbar-shadow-color: $scrollbar-color;
    scrollbar-highlight-color: $scrollbar-color;
    scrollbar-3dlight-color: $scrollbar-color;
    scrollbar-darkshadow-color: $scrollbar-color;
    scrollbar-track-color: $scrollbar-color;
    scrollbar-arrow-color: $scrollbar-color;
    
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: $scroll-bar-width;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: $scrollbar-color-thumb;
    }
}

:host ::ng-deep .emoji-small {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 2px;
}

:host ::ng-deep .emoji-medium {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}