@import "variables";
::ng-deep .ngx-contextmenu {
    transition: all .4s;
    border-radius: 3px;
    
    & .dropdown-menu {
        border: solid 1px $context-menu-border-color;
        background-color: $context-menu-border-color;
        background-color: $context-menu-background;
        padding: 0;
        border: solid 2px $context-menu-border-color;
    }

    & li {
        display: block;
        // border-top: solid 1px $context-menu-border-color;
        // text-transform: uppercase;
        // text-align: center;

        &:first-child {
            border-top: none;
        }
    }

    & a {
        color: $btn-primary-font-color;
        display: block;
        padding: 0.5em 1em;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
            color: $btn-primary-font-color;
            background-color: $context-menu-background-hover;
            text-decoration: none;
        }
    }
}