@import "variables";
.main-display {
    width: calc(100%);
    height: calc(100%);
    overflow-x: auto;
    overflow-y: hidden;
    &__stream-column {
        height: calc(100%);
        width: calc(#{$stream-column-width} + #{$stream-column-separator});
        display: inline-block;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: normal;
        // margin: 0 0 0 $stream-column-separator;
        margin: 0;
        // border: 1px solid greenyellow;
    }
}


.flexcroll {
    scrollbar-color: $scrollbar-color-thumb #0f111a;
    scrollbar-color: #090b10 #0f111a;
    scrollbar-width: thin;

    scrollbar-face-color: $scrollbar-color;
    scrollbar-shadow-color: $scrollbar-color;
    scrollbar-highlight-color: $scrollbar-color;
    scrollbar-3dlight-color: $scrollbar-color;
    scrollbar-darkshadow-color: $scrollbar-color;
    scrollbar-track-color: $scrollbar-color;
    scrollbar-arrow-color: $scrollbar-color;

    &::-webkit-scrollbar {
        height: $scroll-bar-width;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: #08090d;
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }
}