@import "variables";
.main-display {
    width: calc(100%);
    height: calc(100%);
    overflow-x: auto;
    overflow-y: hidden;
    &__stream-column {
        height: calc(100%);
        width: $stream-column-width + $stream-column-separator;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: normal;
        // margin: 0 0 0 $stream-column-separator;
        margin: 0;
    }
}

.flexcroll {
    scrollbar-face-color: #08090d;
    scrollbar-shadow-color: #08090d;
    scrollbar-highlight-color: #08090d;
    scrollbar-3dlight-color: #08090d;
    scrollbar-darkshadow-color: #08090d;
    scrollbar-track-color: #08090d;
    scrollbar-arrow-color: #08090d;
    &::-webkit-scrollbar {
        height: 7px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: #08090d;
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }
}