@import "variables";
@import "commons";
@import "mixins";

.media {
    width: calc(100%);
    padding: 0 5px 5px 5px;

    &__loading{
        width: calc(100%);
        border: 1px solid $status-secondary-color;
        // background: rgb(0, 96, 134);
        overflow: hidden;
        padding: 0;
    }
    &__loaded{
        width: calc(100%);
        height: 75px;
        border: 1px solid $status-secondary-color;
        position: relative;

        &--hover {
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index: 10;
            transition: all .2s;
            opacity: 0;
            background: rgba(black, .5); 
        }
        
        &:hover &--hover {
            opacity: 100;
        }

        &--button {           
            @include clearButton;
            width: 10px;
            height: 10px;
            position: absolute;
            top:5px;
            right:8px;
            color: white;
        }

        &--description {
            position: absolute;
            bottom:5px;
            left: 5px;
            width: calc(100% - 10px);
            // background: black;
            // color: white;
        }

        &--preview {
            // display: block;

            width: calc(100%);
            height: calc(100%);
         
            object-fit: cover;
            object-position: 50% 50%;    
        }

    }
   
}