<div class="poll-editor">
    <div class="poll-editor__entries">
        <div *ngFor="let e of entries">
            <app-poll-entry class="poll-editor__entry" [entry]="e" (removeEvent)="removeElement(e)"
                (toggleMultiEvent)="toggleMulti()"></app-poll-entry>
        </div>
    </div>

    <div class="poll-editor__footer">
        <select [(ngModel)]="selectedId" class="poll-editor__footer--select-duration">
            <option *ngFor="let d of delayChoice" [ngValue]="d.id">{{d.label}}</option>
        </select>

        <a href (click)="addEntry()" class="poll-editor__footer--add-choice">
            <fa-icon [icon]="faPlus"></fa-icon> Add a choice
        </a>


    </div>
</div>