.account-icon {
    display: inline-block;
    width: 50px;
    // padding-top: 4px;
    // margin-left: 5px;
    margin: 0 0 5px 5px;
   
   

  
    &__avatar {
        border-radius: 50%;
        border-radius: 2px;
        width: 40px;
        opacity: .3;
        transition: all .2s;

        &:hover {
            filter: alpha(opacity=50);
            opacity: .5;
        }

        &--selected {
            // border-radius: 20%;
            filter: alpha(opacity=100);
            opacity: 1;

            &:hover {
                filter: alpha(opacity=100);
                opacity: 1;
            }
    
        }
    }
    
   
    // & a {
    //     margin-left: 4px;
    //     /*margin-top: 4px;*/
    // }
    // & img {
    //     width: 40px;
    //     border-radius: 50%;
    // }
}