<div class="stream-overlay">
    <div class="stream-overlay__header">
        <a href class="overlay-close" (click)="close()">CLOSE</a>          
        <a href class="overlay-previous" (click)="previous()">PREV</a>
        <a href class="overlay-refresh" *ngIf="canRefresh" (click)="refresh()">REFRESH</a>      
        <a href class="overlay-next" *ngIf="canGoForward" (click)="next()">NEXT</a>
    </div>
    
    <app-user-profile *ngIf="accountName" [currentAccount]="accountName" 
        (browseAccountEvent)="browseAccount($event)" 
        (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-user-profile>
    <app-hashtag *ngIf="hashtagElement" [hashtagElement]="hashtagElement" 
        (browseAccountEvent)="browseAccount($event)" 
        (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-hashtag>
    <app-thread *ngIf="browseThread" [currentThread]="thread"
        (browseAccountEvent)="browseAccount($event)"
        (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-thread>
</div>