<div class="stream-edition">   
    <button (click)="delete()" class="stream-edition__button stream-edition__button--delete"  title="remove column"><fa-icon [icon]="faTimes"></fa-icon> <span class="stream-edition__button--delete--label">remove</span></button>

    <button (click)="moveRight()" class="stream-edition__button stream-edition__button--move stream-edition__button--move--right" title="move right"><fa-icon [icon]="faChevronRight"></fa-icon></button>
    <button (click)="moveLeft()" class="stream-edition__button stream-edition__button--move" title="move left"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
  
</div>