<div class="action-bar">
    <a *ngIf="!isLocked" href class="action-bar__link action-bar__link--reply" title="Reply" (click)="reply()">
        <fa-icon [icon]="faReply"></fa-icon>
    </a>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>

    <a *ngIf="!(isBoostLocked || isLocked)" href class="action-bar__link action-bar__link--boost" title="Boost"
        [class.boosted]="isBoosted" [class.boosting]="boostIsLoading" (click)="boost()">
        <fa-icon [icon]="faRetweet"></fa-icon>
    </a>
    <fa-icon *ngIf="isBoostLocked && !isLocked && !isDM" class="action-bar__lock" title="This post cannot be boosted"
        [icon]="faLock"></fa-icon>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>
    <fa-icon *ngIf="isDM && !isLocked" class="action-bar__envelope" title="DM post cannot be boosted" [icon]="faEnvelope"></fa-icon>

    <a *ngIf="!isLocked" href class="action-bar__link action-bar__link--fav" title="Favourite"
        [class.favorited]="isFavorited" [class.favoriting]="favoriteIsLoading" (click)="favorite()">
        <fa-icon [icon]="faStar"></fa-icon>
    </a>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>

    <a href class="action-bar__link action-bar__link--cw" title="show content" (click)="showContent()"
        *ngIf="isContentWarningActive">
        <fa-icon [icon]="faWindowClose"></fa-icon>
    </a>
    <a href class="action-bar__link action-bar__link--cw" title="hide content" (click)="hideContent()"
        *ngIf="!isContentWarningActive">
        <fa-icon [icon]="faWindowCloseRegular"></fa-icon>
    </a>

    <a href class="action-bar__link action-bar__link--more" (click)="onContextMenu($event)" title="More">
        <fa-icon [icon]="faEllipsisH"></fa-icon>
    </a>
    <context-menu #contextMenu>
        <ng-template contextMenuItem (execute)="expandStatus()">
            Expand status
        </ng-template>
        <ng-template contextMenuItem (execute)="copyStatusLink()">
            Copy link to status
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem (execute)="mentionAccount()">
            Mention @{{ this.username }}
        </ng-template>
        <ng-template contextMenuItem (execute)="dmAccount()">
            Direct message @{{ this.username }}
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem (execute)="muteAccount()">
            Mute @{{ this.username }}
        </ng-template>
        <ng-template contextMenuItem (execute)="blockAccount()">
            Block @{{ this.username }}
        </ng-template>
        <!-- <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            Mute @account
        </ng-template> -->
    </context-menu>
</div>