<div class="action-bar">
    <a *ngIf="!isLocked" href class="action-bar__link action-bar__link--reply" title="Reply" (click)="reply()">
        <fa-icon [icon]="faReply"></fa-icon>
        <span class="action-bar__count">{{displayStatus.replies_count || ''}}</span>
    </a>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>

    <a *ngIf="!(isBoostLocked || isLocked)" href class="action-bar__link action-bar__link--boost" title="Boost"
        [class.boosted]="isBoosted" [class.boosting]="boostIsLoading" (click)="boost()">
        <fa-icon [icon]="faRetweet"></fa-icon>
        <span class="action-bar__count">{{displayStatus.reblogs_count || ''}}</span>
    </a>
    <fa-icon *ngIf="isBoostLocked && !isLocked && !isDM" class="action-bar__lock" title="This post cannot be boosted"
        [icon]="faLock"></fa-icon>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>
    <fa-icon *ngIf="isDM && !isLocked" class="action-bar__envelope" title="DM post cannot be boosted"
        [icon]="faEnvelope"></fa-icon>

    <a *ngIf="!isLocked" href class="action-bar__link action-bar__link--fav" title="Favourite"
        [class.favorited]="isFavorited" [class.favoriting]="favoriteIsLoading" (click)="favorite()">
        <fa-icon [icon]="faStar"></fa-icon>
        <span class="action-bar__count">{{displayStatus.favourites_count || ''}}</span>
    </a>
    <fa-icon *ngIf="isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>

    <a *ngIf="isBookmarksAvailable && !isLocked" href class="action-bar__link action-bar__link--bookmark" title="Bookmark"
        [class.bookmarked]="isBookmarked" [class.favoriting]="bookmarkingIsLoading" (click)="bookmark()">
        <fa-icon [icon]="faBookmark"></fa-icon>
    </a>
    <fa-icon *ngIf="isBookmarksAvailable && isLocked" class="action-bar__lock" title="Account can't access this post" [icon]="faLock"></fa-icon>

    <a href class="action-bar__link action-bar__link--cw" title="show content" (click)="showContent()"
        *ngIf="isContentWarningActive">
        <fa-icon [icon]="faWindowClose"></fa-icon>
    </a>
    <a href class="action-bar__link action-bar__link--cw" title="hide content" (click)="hideContent()"
        *ngIf="!isContentWarningActive">
        <fa-icon [icon]="faWindowCloseRegular"></fa-icon>
    </a>

    <app-status-user-context-menu class="action-bar__link action-bar__link--more" [statusWrapper]="statusWrapper"
        (browseThreadEvent)="browseThread($event)"></app-status-user-context-menu>
</div>
