@import "variables";
.action-bar {
    // outline: 1px solid greenyellow; // height: 20px;
    margin: 5px 10px 5px $avatar-column-space;
    padding: 0;
    font-size: 24px;
    height: 30px;
    position: relative;

    &__link {
        color: $status-secondary-color;
        &:hover {
            color: $status-links-color;
        }
        &:not(:last-child) {
            margin-right: 15px;
        }

        &--cw {
            position: absolute;
            bottom: -2px;
            font-size: 22px;
        }

        &--more {
            position: absolute;
            left: 155px;
            bottom: -6px;
        }
    }

    &__lock {
        color: $status-secondary-color;
        width: 24px;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    // &_cw {
    //     // width: 18px;
    //     font-size: 10px;

    //     &:not(:last-child) {
    //         margin-right: 15px;
    //     }
    // }
}

.boosted {
    color: $boost-color;
    
    &:hover {
        color: darken($boost-color, 10);        
    }
}

.favorited {
    color: $favorite-color;

    &:hover {
        color: darken($favorite-color, 10);
    }
}