.conversation {
    &__participants {
        padding: 10px 0 0 10px;
        height: 40px;
    }

    &__icon {
        display: block;
        margin-right: 10px;
        margin-left: 31px;
        padding-top: 3px;
        float: left;
        color: var(--floating-column-manage-account-dm-icon);
    }

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        margin-right: 5px;
        float: left;
    }
}

.stream-toots__status {
    &:not(:last-child) {
        border-bottom: 1px solid var(--floating-column-manage-account-dm-stream-border);
    }
}