<div class="poll-entry">
    <div class="poll-entry__remove">
        <a href (click)="remove()" title="remove" class="poll-entry__remove--link">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>
    </div>
    <div class="poll-entry__multi">
        <a href (click)="toggleMulti()" class="poll-entry__multi--link">
            <span class="check-mark" [class.check-mark__round]="!entry.isMulti" [class.check-mark__box]="entry.isMulti">
            </span>
        </a>
    </div>
    <div class="poll-entry__label">
        <input type="text" [(ngModel)]="entry.label" class="poll-entry__label--input" [(ngModel)]="entry.label"/>
    </div>
</div>