<div class="tutorial-content flexcroll">
    <h2 class="tutorial-content__title-important">Thank you!</h2>
    <p>
        Thank you for downloading Sengi, I hope you will enjoy using this app as much as I did when making it.<br />
        <br />
        Please find below some useful informations and... that's it! <br />
        <br />
    </p>
    <h3 class="tutorial-content__subtitle">The app's account</h3>
    <p>
        <a href="https://mastodon.social/@sengi_app" target="_blank">
            <img class="content__expand content__expand--smaller" src="assets/img/account.png" /><br />
        </a>

        <a class="follow" href (click)="follow()" title="follow @Sengi_app with all your account(s)" [class.follow__disabled]="followingDisabled">
            Follow @Sengi_app
        </a>
    </p>
    <h3 class="tutorial-content__subtitle">Alternative builds</h3>
    <p>
        <a class="link link__tab" href="https://hub.docker.com/r/nicolasconstant/sengi" target="_blank">Official Docker
            build</a><br />
        <a class="link link__tab" href="https://snapcraft.io/sengi" target="_blank">Official Snap build</a><br />
        <br />
    </p>
    <h3 class="tutorial-content__subtitle">Other ressources</h3>
    <p>
        <a class="link link__tab" href="https://nicolasconstant.github.io/sengi/" target="_blank">Official
            page</a><br />
        <a class="link link__tab" href="https://github.com/NicolasConstant/sengi" target="_blank">GitHub
            Repository</a><br />
        <a class="link link__tab" href="https://write.as/nicolas-constant/" target="_blank">Maintainer's dev
            blog</a><br />
        <br />
    </p>
</div>