.follow {
    color: var(--tutorial-text-primary);
    display: block;
    border: 1px solid var(--tutorial-border);
    border-radius: 5px;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto 30px auto;
    transition: all .2s;
    box-shadow: inset 0 0 5px var(--tutorial-border);

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: var(--tutorial-border);
    }

    &__disabled {
        opacity: .15;
        border: 1px solid var(--tutorial-close);

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: var(--tutorial-close);
        }
    }
}