<div class="list-account">
    <div class="list-account__action">
        <a href class="list-account__action--button" title="add account to list"
            *ngIf="fromSearch" (click)="add()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>

        <a href class="list-account__action--button"  title="remove account to list"
            *ngIf="!fromSearch" (click)="remove()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>

    </div>
    <div class="list-account__account">
        <img src="{{ account.avatar }}}" alt="" class="list-account__account--avatar">

        <span class="list-account__account--display-name">{{ account.display_name }}</span>
        <span class="list-account__account--acct">{{ account.acct }}</span>
    </div>

</div>