<app-left-side-bar>
</app-left-side-bar>

<!--<app-streams-main-display>
</app-streams-main-display>-->

<div id="display-zone">
    <app-tutorial id="tutorial" *ngIf="tutorialActive"></app-tutorial>
    <app-floating-column id="floating-column" *ngIf="floatingColumnActive"></app-floating-column>
    <app-notification-hub></app-notification-hub>
    <router-outlet></router-outlet>     
</div>

<app-streams-selection-footer>
</app-streams-selection-footer>

<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="launchWindow()">Launch Window</button>
</div>-->