<div class="autosuggest" *ngIf="accounts.length > 0 || hashtags.length > 0">
    <a href *ngFor="let a of accounts" 
        title="@{{a.acct}}"
        (click)="accountSelected(a)"
        class="autosuggest__entry autosuggest__account">
        <img class="autosuggest__account--avatar" src="{{ a.avatar }}" /> {{ a.username }} <span  class="autosuggest__account--acct">@{{ a.acct }}</span>
    </a>

    <a href *ngFor="let h of hashtags" 
        title="#{{h}}"
        (click)="hashtagSelected(h)"
        class="autosuggest__entry">
        #{{ h }}
    </a>
</div>