@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Regular/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Medium/Roboto-Medium.woff2') format('woff2'),
        url('assets/fonts/Medium/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Black/Roboto-Black.woff2') format('woff2'),
        url('assets/fonts/Black/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Thin/Roboto-Thin.woff2') format('woff2'),
        url('assets/fonts/Thin/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Light/Roboto-Light.woff2') format('woff2'),
        url('assets/fonts/Light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Bold/Roboto-Bold.woff2') format('woff2'),
        url('assets/fonts/Bold/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

