@import "variables";
@import "commons";


$list-width: 60px;
$button-width: $list-width/2;

.my-account {
    transition: all .2s;

    &__body {
        overflow: auto;
        height: calc(100%);
        padding-left: 10px;
        padding-right: 10px;
        font-size: $small-font-size;
        padding-bottom: 20px;
        outline: 1px dotted greenyellow;
    }

    &__label {
        font-size: $small-font-size;
        margin-top: 10px;
        margin-left: 5px;
        color: $font-color-secondary;
    }

    &__blue {
        background-color: $color-primary;
        color: #fff;

        &:hover {
            background-color: color(color-primary-lighter-15);
        }
    }

    &__red {
        $red-button-color: rgb(65, 3, 3);
        background-color: $red-button-color !important;
        color: #fff;

        &:hover {
            background-color: lighten($red-button-color, 15) !important;
        }
    }

    &__link {
        text-decoration: none;
        display: block; // width: calc(100% - 20px);
        width: 100%; // height: 30px;
        padding: 5px 10px; // border: solid 1px black;

        &--icon {
            float: right;
        }

        &--remove {
            position: relative;
            top: 1px;
            right: 1px;
        }

        &--disabled {
            cursor: default;
            background-color: color(color-primary-darker-4);

            width: calc(100% - #{$button-width} - 1px);
            //outline: 1px solid greenyellow;

            &:hover {
                background-color: color(color-primary-darker-4);
            }
        }

        &--margin-bottom {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__list {
       
        width: calc(100% - #{$list-width} - 2px);

        &--remove {
            position: relative;
            top: 0px;
            right: 1px;
        }

        &--disabled {
            cursor: default;
            background-color: color(color-primary-darker-4);

            width: calc(100% - #{$button-width} * 3 - 3px);
            //outline: 1px solid greenyellow;

            &:hover {
                background-color: color(color-primary-darker-4);
            }
        }

        &--button {
            margin-left: 1px;
            width: calc(#{$list-width}/2);
            float: right;
            padding: 5px 10px;
            background-color: $color-primary;
            color: #fff;
            color: $font-color-secondary;

            &:hover {
                color: #fff;
                background-color: color(color-primary-lighter-15);
            }
        }

        &--new-list-title {
            color: #fff;
            background-color: color(color-primary-darker-4);
            border: 2px solid $color-primary;
            width: calc(100% - #{$list-width}/2 - 1px);
            padding: 3px 5px;

            &:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
    }

    &__margin-top {
        margin-top: 25px;
    }
}

.advanced-settings {
    position: relative;

    &__checkbox{
        position: relative;
        top:3px;
        left: 5px;
        margin-right: 7px;
    }

    &__label {


    }

    &__text {
        display: block;
        margin: 0 6px 9px 6px;
        color: rgb(140, 152, 173);
    }

    &__input {
        margin-left: 5px;
    }
}