<div class="panel" [class.comrade__background]="isComrade">
    <h3 class="panel__title" [class.comrade__text]="isComrade">Add new account</h3>

    <div class="panel__content">
        <h2 class="comrade__title" *ngIf="isComrade">Welcome Comrade!</h2>
        <form (ngSubmit)="onSubmit()">
            <label [class.comrade__text]="isComrade">Please provide your <span *ngIf="isComrade">comrade</span>
                instance:</label>

            <div>
                <input type="text" class="form-control form-control-sm form-with-button"
                    [(ngModel)]="setInstance" name="instance" [class.comrade__input]="isComrade"
                    placeholder="mastodon.social" />
                
                <button type="submit" class="form-button"
                    title="add account"
                    [class.comrade__button]="isComrade">
                    
                    <span *ngIf="!isLoading && !this.isInstanceMultiAccountLoading">Submit</span>
                    <span *ngIf="!isLoading && this.isInstanceMultiAccountLoading" class="faq__warning">See FAQ</span>
                    <app-waiting-animation *ngIf="isLoading" class="waiting-icon"></app-waiting-animation>
                </button>
               
            </div>
        </form>

        <div *ngIf="isComrade" class="comrade__video">
            <iframe width="300" height="170"
                src="https://www.youtube.com/embed/NzBjnoRG7Mo?feature=oembed&autoplay=1&auto_play=1" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="faq" *ngIf="isInstanceMultiAccount">
            <p>
                FAQ<br/>
                <a href="https://github.com/NicolasConstant/sengi/wiki/How-to-add-multiple-accounts-from-the-same-instance" target="_blank">How to add multiple accounts from the same instance?</a>
            </p>
        </div>

    </div>
</div>