@import "variables";
.left-bar {
    width: 50px;
    height: calc(100%);
    background: $color-secondary;
}

.create-toot {
    width: 50px;
    &__link {
        font-size: 0.8em;
        margin: 0 0 0 10px;
    }
}

.add-account {
    width: 50px;
    height: 30px;
    padding-top: 7px;
    &__link {
        font-size: 2em;
        height: 10px;
        margin: 0 15px;
        line-height: 0;
    }
}

.left-bar-link {
    color: $font-link-primary;
    text-decoration: none;
    &:hover {
        color: $font-link-primary-hover;
    }
}