@import "variables";
@import "context-menu";

.context-menu-link {
    font-size: 18px;

    &__status {
        color: $status-secondary-color;

        &:hover {
            color: $status-links-color;
        }
    }

    &__profile {
        color: var(--context-menu-link-profile-color);

        &:hover {
            color: var(--context-menu-link-profile-color-hover);
        }
    }
}