*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 78em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

.row {
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 1rem; } }
  @media (max-width: 56.25em) {
    .row {
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2 * 1rem) / 3 + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 1rem) / 4 + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 1rem) / 4 + 2 * 1rem); }

.header {
  position: relative;
  background-color: #f7f7f7;
  height: calc(100vh - 3rem);
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .header {
      height: calc(100vh); } }
  .header__image {
    display: block;
    margin: 8.5vh auto 0 auto; }
    @media (max-width: 56.25em) {
      .header__image {
        display: none; } }
  .header__download-box {
    transition: all .2s;
    margin: 30vh auto 0 auto;
    width: calc(95%);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem; }
    @media (max-width: 56.25em) {
      .header__download-box {
        margin: 10vh auto 0 auto;
        width: calc(80%); } }
    .header__download-box--title {
      font-weight: 300;
      font-size: 5rem;
      margin: 0 0 1rem 2rem; }
    .header__download-box--subtitle {
      font-weight: 400;
      font-size: 2rem;
      margin-bottom: .5rem; }

.download-button {
  transition: all .2s;
  background-color: white;
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  float: left;
  margin-right: 5px;
  padding: 0 15px 2px 15px;
  font-size: 38px;
  color: #3f3f3f;
  text-decoration: none;
  margin-bottom: 1rem; }
  .download-button:hover {
    color: #faa424; }
  .download-button__web {
    font-size: 25px;
    background-color: #04d431;
    background-color: #faa424;
    background-color: #fd9d0d;
    background-color: #3f3f3f;
    color: white;
    color: #202020;
    color: white;
    padding: 10px 20px 10px 15px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    border: 1px solid #e7e7e7; }
    .download-button__web--label {
      font-size: 25px;
      font-weight: normal;
      padding-left: 10px; }
    .download-button__web:hover {
      color: #3d3d3d;
      background-color: #ffe5be;
      background-color: #faa424; }

.fa-apple {
  position: relative;
  top: -2px; }

.sengi-icon {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 6rem;
  height: 6rem; }

.footer {
  text-align: center;
  background-color: #141414;
  color: white;
  height: 18rem;
  padding-top: 4em; }
  .footer__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .footer__buttons {
    margin: auto; }
    .footer__buttons--button {
      font-size: 4rem;
      color: whitesmoke;
      transition: all .2s; }
      .footer__buttons--button:not(:last-child) {
        margin-right: 2rem; }
      .footer__buttons--button:hover {
        color: #faa424; }
