@import "variables";
@import "commons";
$stream-header-height: 40px;
.stream-edition {
    width: $stream-column-width;
    position: absolute;
    z-index: 50;
}

.stream-column {
    position: relative;
    width: $stream-column-width;
    height: calc(100%);
    background-color: $column-color;
    margin: 0 0 0 $stream-column-separator;
    &__stream-header {
        border-bottom: 1px solid #222736;
    }
    &__open-menu {
        float: right;
        display: block;
        width: $stream-header-height - 10px;
        height: $stream-header-height - 10px;
        margin: 5px;
        &:hover &--icon {
            color: darken(whitesmoke, 30);
        }
        &--icon {
            color: whitesmoke; // float: left;
            position: relative;
            top: 4px;
            left: 8px;
        }
    }
    &__stream-selector {
        display: block;
        width: calc(100%);
        height: $stream-header-height;
        background-color: $column-header-background-color;
        text-decoration: none; // &:hover {
        // }
        &--icon {
            color: whitesmoke;
            float: left;
            position: relative;
            left: 11px;
            top: 9px;
        }
        &--title {
            color: whitesmoke;
            font-size: 0.8em;
            font-weight: normal; // margin: 0 0 0 25px;
            padding: 14px 0 0 35px;
        }
    }
}

.stream-statuses {
    display: block;
    height: calc(100% - #{$stream-header-height});
    width: 320px;
}

// .stream-toots {
//     height: calc(100% - 30px);
//     width: 320px;
//     overflow: auto;
//     &__status:not(:last-child) {
//         border: solid #06070b;
//         border-width: 0 0 1px 0;
//     }
// }
.stream-overlay {
    position: absolute;
    z-index: 50;
    width: $stream-column-width;
    height: calc(100%);
}