<div class="stream-column">

    <app-stream-overlay class="stream-overlay" *ngIf="overlayActive" 
        (closeOverlay)="closeOverlay()" 
        [browseAccount]="overlayAccountToBrowse"
        [browseHashtag]="overlayHashtagToBrowse"></app-stream-overlay>

    <div class="stream-column__stream-header">
        <a href title="return to top" (click)="goToTop()">
            <h1>{{ streamElement.name.toUpperCase() }}</h1>
        </a>
    </div>
    <app-stream-statuses class="stream-statuses" [streamElement]="streamElement" [goToTop]="goToTopSubject.asObservable()" (browseAccount)="browseAccount($event)" (browseHashtag)="browseHashtag($event)"></app-stream-statuses>
    <!-- <div class="stream-toots flexcroll" #statusstream (scroll)="onScroll()">
        <div class="stream-toots__status" *ngFor="let statusWrapper of statuses">
            <app-status [statusWrapper]="statusWrapper" (browseAccount)="browseAccount($event)" (browseHashtag)="browseHashtag($event)"></app-status>
        </div>
    </div>  -->
</div>