@import "variables";
// @import "mixins";

.card {
    border: 1px solid $card-border-color;
    background-color: $column-background;
    border-radius: 3px;
    transition: all .2s;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background-color: lighten($column-background, 5);
    }

    &__link {
        display: block;
        text-decoration: none;
        color: whitesmoke;

        &--image {
            width: 55px;
            height: 55px;
            float: left;
            object-fit: cover;
            border-right: 1px solid $card-border-color;
            margin-right: 10px;

            &--logo {
                display: block;
                font-size: 24px;
                color: lighten($card-border-color, 5);
                margin: 9px 0 0 18px;
            }
        }

        &--title {
            margin: 10px 0 0 0px;
            font-size: 1em;
        }

        &--host {
            margin: 10px 0 0 0px;
            font-size: 0.8em;
            opacity: .7;
        }


    }
    
    &__photo {

    }

    &__video {
        // border-radius: 3px;

        &--preview {
            position: relative;

            &--controls {
                position: absolute;
                top: 50px;
                left: 65px;
                // outline: 2px solid greenyellow;
                width: 100px;
                height: 50px;
                z-index: 10;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: .85);
                padding-left: 12px;
            }

            &--link {
                transition: all .2s;
                display: block;
                color: whitesmoke;
                font-size: 16px;
                margin: 12px 5px 0 5px;
                float: left;
                
                &:hover {
                    opacity: 0.7;
                }
            }

            &--image {
                width: 100%;
                height: 150px;
                // border: 1px solid salmon;
                object-fit: cover;
            }
        }

        &--content {
            //width: 300px;
            width: 100%;
            height: 150px;
        }
    }

    &__rich {


    }
}