@import "variables";
// @import "mixins";

.card {
    border: 1px solid $card-border-color;
    background-color: $column-background;
    border-radius: 3px;
    transition: all .2s;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background-color: lighten($column-background, 5);
    }

    &__link {
        display: block;
        text-decoration: none;
        color: whitesmoke;

        &--image {
            width: 55px;
            height: 55px;
            float: left;
            object-fit: cover;
            border-right: 1px solid $card-border-color;
            margin-right: 10px;

            &--logo {
                display: block;
                font-size: 24px;
                color: lighten($card-border-color, 5);
                margin: 9px 0 0 18px;
            }
        }

        &--title {
            margin: 10px 0 0 0px;
            font-size: 1em;
        }

        &--host {
            margin: 10px 0 0 0px;
            font-size: 0.8em;
            opacity: .7;
        }


    }
    
}