<div class="card">
    <a *ngIf="card.type === 'link'" class="card__link" href="{{ card.url }}" target="_blank">
        <img *ngIf="card.image" class="card__link--image" src="{{ card.image }}" alt="" />
        <div *ngIf="!card.image" class="card__link--image">
            <fa-icon class="card__link--image--logo" [icon]="faFileAlt"></fa-icon>
        </div>

        <h3 class="card__link--title">{{ card.title }}</h3>
        <span class="card__link--host">{{ host }}</span>
    </a>
    <div *ngIf="card.type === 'photo'" class="card__photo">

    </div>
    <div *ngIf="card.type === 'video'" class="card__video">
        <div class="card__video--preview">
            <div class="card__video--preview--controls">
                <a href>
                    <fa-icon class="" [icon]="faFileAlt"></fa-icon>
                </a>
                <a href>
                    <fa-icon class="" [icon]="faFileAlt"></fa-icon>
                </a>
                <a href>
                    <fa-icon class="" [icon]="faFileAlt"></fa-icon>
                </a>
            </div>
            <img src="{{card.image}}" class="card__video--preview--image" />
        </div>
        <div class="card__video--content">

        </div>
    </div>
    <div *ngIf="card.type === 'rich'" class="card__rich" innerHTML="card.html"></div>
</div>