<div class="hashtag-column">
    <div class="hashtag-header">
        <a href (click)="goToTop()" class="hashtag-header__gototop" title="go to top">
            <h3 class="hashtag-header__title">#{{hashtagElement.tag}}</h3>
            <button *ngIf="isHashtagFollowingAvailable && !isFollowingHashtag" class="btn-custom-secondary hashtag-header__follow-button" (click)="followThisHashtag($event)" title="follow hashtag" [disabled]="followingLoading">follow</button>
            <button *ngIf="isHashtagFollowingAvailable && isFollowingHashtag" class="btn-custom-secondary hashtag-header__follow-button" (click)="unfollowThisHashtag($event)" title="unfollow hashtag" [disabled]="unfollowingLoading">unfollow</button>
            <button class="btn-custom-secondary hashtag-header__add-column" (click)="addColumn($event)" title="add column to board" [hidden]="columnAdded">add column</button>
        </a>
    </div>
    <app-stream-statuses #appStreamStatuses class="hashtag-stream" *ngIf="hashtagElement"
        [streamElement]="hashtagElement"
        [goToTop]="goToTopSubject.asObservable()"
        [userLocked]="false"
        (browseAccountEvent)="browseAccount($event)"
        (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-stream-statuses>
</div>