<div class="hashtag-column">
    <div class="hashtag-header">
        <a href (click)="goToTop()" class="hashtag-header__gototop" title="go to top">
            <h3 class="hashtag-header__title">#{{hashtagElement.tag}}</h3>

            <button class="btn-custom-secondary hashtag-header__add-column" (click)="addColumn($event)" title="add column to board">add column</button>
        </a>
    </div>
    <app-stream-statuses class="hashtag-stream" *ngIf="hashtagElement" [streamElement]="hashtagElement" [goToTop]="goToTopSubject.asObservable()"
        (browseAccount)="selectAccount($event)" (browseHashtag)="selectHashtag($event)"></app-stream-statuses>
</div>