@import "variables";
@import "buttons";

$hashtag-header-height: 40px;
$inner-column-size: 320px;

.hashtag-column{
    height: calc(100%);
    width: $inner-column-size;
}

.hashtag-header {
    height: $hashtag-header-height;
    border-bottom: 1px solid black;
    position: relative;

    &__gototop {
        display: block;
        width: calc(100%);
        height: calc(100%);
        color: white;
        transition: all .2s;

        // &:hover {
        //     background-color: $btn-primary-color-hover;
        // }
    }

    &__title {
        font-size: 1em;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &__add-column {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 0 10px 0 10px;
        border: 1px solid black;
        color: white;
    }
}

.hashtag-stream {
    display: block;
    height: calc(100% - #{$hashtag-header-height});
    width: $inner-column-size;
    // outline: 1px greenyellow solid;
}