<!-- <div class="tutorial"> -->
<div class="add-account" *ngIf="showAddAccount">
    <!-- <div class="add-account__arrow"></div> -->
    <img class="add-account__arrow" src="assets/img/arrow_1.png" alt="arrow pointing the +">
    <h3 class="add-account__title">Welcome to Sengi!</h3>
    <p class="add-account__description">
        Let's start, click the "+" button to add a new account.
    </p>
</div>
<div class="open-account" *ngIf="showOpenAccount">
    <!-- <div class="open-account__arrow"></div> -->
    <img class="open-account__arrow" src="assets/img/arrow_2.png" alt="arrow pointing the first account">
    <div class="open-account__mouse-icon"></div>
    <h3 class="open-account__title">Nice!</h3>
    <p class="open-account__description">
        Now <span class="underline">right-click</span> on your avatar to open your account and be able to add some timelines!
    </p>
</div>
<!-- </div> -->

<img class="sengi-logo" src="assets/icons/icon-384x384.png" />