<div class="tutorial-content flexcroll">
    <h2 class="tutorial-content__title-important">And... you're all set! 🎉</h2>
    <p>
        Please find below more information about Sengi.<br />
        <br />
    </p>

    <h3 class="tutorial-content__subtitle">Notifications</h3>
    <p>
        By default, Sengi doesn't need notification timelines: it has its own way to do it.<br />
        <br />
        When your account will receive a new mention, follow, boost, favorite and other kind of notifications, your
        avatar's icon will start flashing this way:<br />
        <br />
        <video class="content__center" role="application" loop autoplay>
            <source src="assets/video/flashing.mp4" type="video/mp4">
        </video>
        <br />
        If you right-click on your avatar, the account panel will automatically open and switch to the related
        subsection (mentions or notifications) and show you the last entries.<br />
        The flashing animation will then automatically stop:<br />
        <br />
        <video class="content__expand" role="application" loop autoplay>
            <source src="assets/video/notification.mp4" type="video/mp4">
        </video>
        <br />
        The aim of this mechanism is to prevent the flood of notification timelines (one per account) in the interface,
        especially if you add a lot of accounts in Sengi. <br />
        <br />
        Of course, you can disable various parts of this mechanism in the settings like "disable avatar notification", "disable account's panel autofocus", etc.<br />
    </p>
</div>