<div class="tutorial-content">
    <h2 class="tutorial-content__title">And... you're all set! 🎉</h2>
    <p>
        Please find below more informations about Sengi.<br />
        <br />
    </p>

    <h3 class="tutorial-content__subtitle">Notifications</h3>
    <p>
        By default, Sengi doesn't need the notification timeline: it has it's own way to do it.<br />
        <br />
        When your account will receive a new mention, follow, boost, favorite and other kind of notifications, your
        avatar's icon will start flashing this way:<br />
        <br />
        [TODO]<br />
        <br />
        If you right-click on your avatar, the account panel will automatically open and switch to the related
        subsection (mentions or notifications) and show you the last entries.<br />
        <br />
        [TODO]<br />
        <br />
        The flashing animation will then automatically stop.<br />
        <br />
        <br />
        The aim of this mecanism is to prevent the flood of notification timelines (one per account) in the interface, especally if you manage a lot of accounts in Sengi. <br />
        <br />
        <br />
        Of course, you can disable various parts of this mecanism in the settings panel.<br />
    </p>    
</div>