<div class="panel">
    <h3 class="panel__title">search</h3>

    <form class="form-section" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control form-control-sm form-with-button" [(ngModel)]="searchHandle" name="searchHandle"
            placeholder="Search" autocomplete="off" />
        <button class="form-button" type="submit" title="search">GO</button>
    </form>

    <app-waiting-animation *ngIf="isLoading" class="waiting-icon"></app-waiting-animation>

    <div *ngIf="accounts.length > 0" class="search-results">
        <h3 class="search-results__title">Accounts</h3>
        <a href *ngFor="let account of accounts" class="account" title="open account" 
            (click)="selectAccount(account.acct)">
            <img src="{{account.avatar}}" class="account__avatar" />
            <div class="account__name">{{ account.username }}</div>
            <div class="account__fullhandle">@{{ account.acct }}</div>
        </a>
    </div>

    <div *ngIf="hashtags.length > 0" class="search-results">
        <h3 class="search-results__title">Hashtags</h3>
        <a (click)="selectHashtag(hashtag)" href *ngFor="let hashtag of hashtags" class="search-results__hashtag" title="add hashtag column">
            #{{ hashtag }}
        </a>
    </div>   

    <div *ngIf="statuses.length > 0" class="search-results">
        <h3 class="search-results__title">Statuses</h3>

        <div class="search-results__status" *ngFor="let statusWrapper of statuses">
            <app-status [statusWrapper]="statusWrapper" (browseAccount)="browseAccount($event)" (browseHashtag)="browseHashtag($event)"></app-status>
        </div>
    </div>
</div>