.doc-label-wrapper {
    margin-bottom: 15px;
}

.doc-label {
    width: 70px;
    // height: 15px;
    color: white;
    text-align: center;
    padding: 3px 0 2px 0;
    font-size: 11px;
    border-radius: 3px;
    float: left;

    &__bot {
        background-color: var(--label-bot);
    }

    &__replies {
        background-color: var(--label-discuss);
    }

    &__thread {
        background-color: var(--label-thread);
    }

    &__xpost {
        background-color: var(--label-xpost);
    }

    &__old {
        background-color: var(--label-old);
    }

    &__remote {
        background-color: var(--label-remote);
    }
}

.doc-label-definition {
    margin-left: 85px;
    position: relative;
    // top: -1px;

    & a {
        color: var(--tutorial-text-primary);
        text-decoration: underline;

        &:hover, &:active, &:focus {
            color: var(--tutorial-text-muted);
        }
    }

    &__gray {
        display: inline-block;
        margin-top: 5px;
        color: #0f111a;
        color: var(--tutorial-text-secondary);
    }
}