/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  /* font-family: "mastodon-font-sans-serif",sans-serif; */
  font-size: 15px; 
  
  /* color: whitesmoke; */
  color: #c9cbd4;
  color: #a8acbc;
  color: #e8eaf3;
  background-color: #0f111a;
  background-color: #0f111a;
  background-color: #0a0c12;

  background-color: #141824;
}
 
.invisible {
  display: none;
} 
/* .ellipsis {
} */

#toot-content p {
  margin-bottom: 0 !important; 
}

#toot-content a {
  color: #bec3d8;
}