.image {
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

    &__link {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 5px 8px 8px;
        transition: all .2s;
        opacity: 0;
        color: white;

        &--icon {  
            filter: drop-shadow(0 0 3px rgb(78, 78, 78));        
        }

        // &:hover {
        //     color: rgb(174, 202, 255);
        // }
    }

    &__status {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 25px;
        padding: 5px 5px 8px 8px;
        transition: all .2s;
        opacity: 0;
        color: white;

        &--icon {  
            filter: drop-shadow(0 0 3px rgb(78, 78, 78));        
        }
    }

    &:hover &__link {
        opacity: 1;
        cursor: pointer;
    }

    &:hover &__status {
        opacity: 1;
        cursor: pointer;
    }

    &__alt {
        display: inline;
        color: white;

        z-index: 10;

        position: absolute;
        bottom: 5px;
        left: 5px;

        font-size: 10px;
        font-weight: bolder;

        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 3px;
        padding: 2px 5px;
    }
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    border-radius: 2px;
}