.image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    border-radius: 2px;   
}