<div class="image">    
    <div class="image__alt" *ngIf="displayAltLabel && attachment.description" title="{{ attachment.description }}">ALT</div>
    <a *ngIf="status" href class="image__status" (click)="openStatus()" (auxclick)="openStatus()" title="open status">
        <fa-icon class="image__status--icon" [icon]="faExternalLinkAlt"></fa-icon>
    </a>
    <a href class="image__link" (click)="openExternal()" (auxclick)="openExternal()" title="open image">
        <fa-icon class="image__link--icon" [icon]="faLink"></fa-icon>
    </a>

    <a *ngIf="attachment.type === 'image'" class="galery__image--link" title="{{ attachment.description }}"
        (click)="attachmentSelected()">
        <img class="galery__image--1" src="{{ attachment.preview_url | ensureHttps }}" />
    </a>
    <video *ngIf="attachment.type === 'gifv'" class="galery__image--link galery__image--1" role="application" loop
        autoplay (click)="attachmentSelected()">
        <source src="{{ attachment.url | ensureHttps }}" type="video/mp4">
    </video>
</div>