@import "variables";
@import "panel";
@import "buttons";
@import "commons";

$btn-send-status-width: 60px;

.form-control { 
    margin-bottom: 5px;

    &--privacy{
        display: inline-block; 
        width: calc(100% - 5px - #{$btn-send-status-width});
    }
}

.btn-custom-primary {
    display: inline-block;
    width: $btn-send-status-width;
    position: relative;
    top: -1px;
    left: 5px;
    font-weight: 500;
}

.panel {
    padding-left: 0;
    padding-right: 0;    
}

.new-message-body {
    overflow: auto;
    height: calc(100% - 30px);
    padding-right: 5px;
    
    padding-bottom: 100px;    
}
