@import "variables";
@import "commons";

.follow {
    height: calc(100%);
    width: calc(100%);
    
    overflow: auto;
    position: relative;

    &__empty {
        padding: 20px 0 0 0;
        text-align: center;
    }
}

.account {
    display: block;
    margin: 0 1px;
}