<div class="follow flexcroll" #accountslist (scroll)="onScroll()" >    
    <div class="accounts" *ngIf="accounts.length > 0">
        <app-account class="account" *ngFor="let account of accounts"
            [account]="account"
            (accountSelected)="browseAccount($event)"></app-account>
    </div>
    <div *ngIf="accounts.length === 0 && !isLoading" class="follow__empty"> There is nothing here! </div>
    <app-waiting-animation *ngIf="isLoading" class="waiting-icon"></app-waiting-animation>
</div>