@import "variables";
@import "commons";
@import "mixins";

.stream {
    height: calc(100%);
    width: calc(100%);
    overflow: auto;
    background-color: $column-background;

    &__error {
        padding: 20px 20px 0 20px;
        color: var(--floating-column-manage-account-notification-stream-error);
    }

    &__notification {
        position: relative;
    }
}