@import "variables";
@import "commons";

.translation {
    margin: 0 10px 0 $avatar-column-space;
    text-align: center;    

    &__link, &__by {
        font-size: 12px;
        color: #656b8f;
        padding: 5px 5px 0 5px;
    }

    &__link {
        transition: all .2s;
        &:hover {
            text-decoration: none;
            color: #9fa5ca;
        }
    }

    &__by {
        display: block;
        text-align: left;
        padding: 5px 0 0 0;
    }

    &__display {
        display: flex;
        justify-content: space-between;

        &__link {
            padding: 5px 0 0 0;
            font-size: 12px;
            color: #656b8f;

            transition: all .2s;
            &:hover {
                text-decoration: none;
                color: #9fa5ca;
            }
        }
    }
}