@import "variables";
@import "commons";
@import "mixins";
.stream-toots {
    height: calc(100%);
    width: calc(100%);
    
    overflow: auto;
    position: relative;

    &__load-buffer {
        position: relative;
        z-index: 1;
        display:  inline-block;
        border-bottom: 1px solid black;
        padding: 10px;
        margin: 0;
        text-align: center;
        width: 100%;
        // border: 1px dotted greenyellow ;
        transition: all .2s;
        color: $status-secondary-color;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &__error {
        padding: 20px 20px 0 20px;
        color: rgb(255, 113, 113);
    }

    &__content {
        height: calc(100%);
        overflow: auto;
        outline: none; 
        :focus {
            outline: none; 
        }
    }

    &__new-notification {
        z-index: 1;
        width: $stream-column-width;
        height: 25px;
        position: absolute;
        top: -15px;
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background: radial-gradient(ellipse at center, rgba(150, 192, 255, 0.514), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        transition: all .5s;
        opacity: 0;

        &--display {
            opacity: 1;
        }
    }

   

    &__status:not(:last-child) {
        border: solid #06070b;
        border-width: 0 0 1px 0;
    }
    &__remove-cw {   
        z-index: 100;
        position: absolute;
        top: 10px;
        right: 20px;
        
        padding: 5px;
        height: 45px;

        &--button {          

          
            // width: calc(80%);
            // margin-left: 40%;
            // transform: translateX(-40%);
            
            transition: all .2s;
            text-decoration: none;            
            padding: 5px 5px;   
            padding: 5px 10px;       
            text-align: center;

            border: 3px $status-secondary-color double;    
            border: 0;           
            
            background-color: var(--color-secondary);
            background-color: $status-secondary-color;
            // background-color: rgb(238, 238, 238);
            color: white;

            &:hover{
                background-color: $status-secondary-color;
                background-color: rgb(238, 238, 238);
                color: black;
                
                //border: 3px $hover-color double;                
            }
        }
    }
}