<div class="stream-toots">
    <div class="stream-toots__remove-cw" *ngIf="isThread && hasContentWarnings">
        <a href class="stream-toots__remove-cw--button" (click)="removeCw()" title="remove content warnings">
            Remove CWs
        </a>
    </div>

    <div class="stream-toots__new-notification" 
        [class.stream-toots__new-notification--display]="bufferStream && bufferStream.length > 0 && !streamPositionedAtTop"></div>

    <div class="stream-toots__content flexcroll" #statusstream (scroll)="onScroll()" tabindex="0">       
        <div *ngIf="displayError" class="stream-toots__error">{{displayError}}</div>

        <div *ngIf="timelineLoadingMode === 3 && bufferStream && bufferStream.length > 0">
            <a href (click)="loadBuffer()" class="stream-toots__load-buffer" title="load new items">{{ bufferStream.length }} new item<span *ngIf="bufferStream.length > 1">s</span></a>
        </div>

        <div class="stream-toots__status" *ngFor="let statusWrapper of statuses" #status>
            <app-status 
                [statusWrapper]="statusWrapper" [isThreadDisplay]="isThread"
                (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
                (browseThreadEvent)="browseThread($event)"></app-status>
        </div>

        <app-waiting-animation *ngIf="isLoading" class="waiting-icon"></app-waiting-animation>
    </div>
</div>