<div class="stream-toots flexcroll" #statusstream (scroll)="onScroll()">
    <app-waiting-animation *ngIf="statuses.length === 0" class="waiting-icon"></app-waiting-animation>

    <div *ngIf="displayError" class="stream-toots__error">{{displayError}}</div>

    <!-- data-simplebar  -->
    <div class="stream-toots__status" *ngFor="let statusWrapper of statuses">
        <app-status [statusWrapper]="statusWrapper" 
            (browseAccountEvent)="browseAccount($event)"
            (browseHashtagEvent)="browseHashtag($event)"
            (browseThreadEvent)="browseThread($event)"></app-status>
    </div>
</div>