.galery {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 2px;
    &__image {
        width: 100%;
        height: 100%;
        &--link {
            cursor: zoom-in;
        }

        &--1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
        &--link-2 {
            width: 49%;
            height: 100%;
            &:last-child {
                margin-left: 2%; // border: 1px greenyellow solid;
            }
            & img {
                width: 49%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        &--link-3-1 {
            width: 49%;
            height: 100%;
            float: left;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
             
            }
        }
        &--link-3-2 {
            width: 49%;
            height: 49%;
            margin-left: 2%;
            float: left;
            &:nth-child(even) {
                margin-bottom: 2%;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        &--link-4 {
            width: 49%;
            height: 49%;
            &:nth-child(even) {
                margin-left: 2%;
            }
            & img {
                width: 49%;
                height: 49%;
                object-fit: cover;
                object-position: 50% 50%;
                margin-bottom: 2%;
            }
        }
    }

    &__gifv{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}