@import "variables";
@import "mixins";

.floating-column {
    width: calc(100%);
    max-width: 330px;
    
    background-color: $color-secondary;
    overflow: hidden;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: $stream-selector-height;
    padding: 0;

    &__header {
        
        // @include clearfix;
    }
}


.close-button {
    // display: inline-block;
    background-color: $color-primary;
    color: darken(white, 30);
    border-radius: 999px;
    width: 26px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    padding: 1px;

    z-index: 9999;
    float: right;
    margin: 10px;

    transition: all .2s;

    &:hover {
        background-color: lighten($color-primary, 20);
        color: white;
        // transform: scale(1.2);
    }
    
}