@import "variables";

.floating-column {
    width: calc(100%);
    max-width: 330px;
    
    background-color: $color-secondary;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: $stream-selector-height;
}