@import "variables";
@import "mixins";
@import "panel";

.floating-column {    
    background-color: $color-secondary;
    overflow: hidden;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: $stream-selector-height;
    padding: 0;

    white-space: normal;

    &__inner {
        position: relative;
        width: $stream-column-width;
        height: calc(100%);

        margin: 0 0 0 $stream-column-separator;
        overflow: hidden;

        &--left {
            width: $stream-column-width;
            height: calc(100%);
        }
    }
}

.close-button {
    // outline: 1px dotted orange;

    display: block;
    float: right;
    font-size: 14px;
    color: white;
    margin: 5px 5px 0 0;

    width: 40px;
    height: 34px;

    &__icon {
        position: relative;
        top: 6px;
        left: 17px;
    }
}