@import "variables";

.scheduler {
    background-color: $scheduler-background;

    &__input {
        color: var(--scheduler-text);
        padding: 3px;
        width: calc(100% - 25px);
        border: 1px solid $scheduler-background;
        outline: 0;
        background-color: $scheduler-background;
        &:focus{
            border: 1px solid $scheduler-background;
            outline: 0;            
        }
    }

    &__icon {
        color: var(--scheduler-text);
        &:hover {
            color: var(--scheduler-text-secondary);
        }
        margin-left: 5px;        
    }
}